*.sdf
*.opensdf
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
# Compiled Object files
*.slo
*.lo
*.o
*.vssscc
obj*/
[Dd]ebug*/
[Rr]elease*/
# Compiled Dynamic libraries
*.so
*.dylib
spotify_appkey.key
# Compiled Static libraries
*.lai
*.la
*.a
